body {
    font-family: Roboto;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.logo {
    width: 160px;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

6

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0px;
    padding-right: 0;
}

nav> ul> li {
    list-style: none;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    
}

nav {
    display: inline-block;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .75em;
    padding-right: .75em;
    border-radius: 8px;
}